body{
    background-color: #1b1b1b ;
    color: rgb(255, 255, 255);
}

main{
    margin: 2% 20% 0 20%;
}

.billet{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: 15rem ;
    background-color: #303030;
    border-radius: 10px;
    margin-top: 5%;
}

.billet__image{
    max-width: 20%;
    padding: 2% 0;
}

.description__billet{
    margin-bottom: 0;
}

.annexe{
    font-size: 80%;
    font-style: italic;
    color: grey;
    margin-top: 0;
}

.btn__montrer__div{
    padding: 50%;
    border-radius: 15px;
    border: none;
    background-color: #464646;
    color: rgb(255, 255, 255);
}

.prix-quantite{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billet-concert-date{
    display: none;
}

.billet-concert-date.visible {
    display: block; /* Si la classe 'visible' est présente, la div est affichée */
}

.billet-date{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5%;
    margin-top: 2%;
    color: black;
}


.root{
    flex-basis: 15%;
}



.input-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input-number button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 15rem;
    width: 2rem;
    height: 2rem;
  }


  input{
    text-align: center;
    width: 25px;
    border: none;
    margin-left: 15px;
  }

#getValuesBtn{
    position: fixed;
    right: 0;
    bottom: 0;
}