.footer{
  margin-top: 15%;
  color: black;
}


footer > div{
    margin: 0% 10%;
  }
  
  .top-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    padding-top: 2%;
  }
  
  .bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: thin solid rgba(122, 122, 122, 0.479);
  }