/* styles.css */

/* Style général du formulaire */
.artist-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.group-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des étiquettes */
label {
    color: black;
    display: block;
    margin-bottom: 8px;
}

/* Style des champs de saisie */
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Style du bouton de soumission */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Ajoutez ces styles à votre feuille de style */
.form-container {
    width: 45%;
    float: left; /* Ajoutez cette propriété pour que les deux formulaires soient alignés côte à côte */
    margin-right: 5%; /* Ajoutez une marge entre les deux formulaires */
}

.form-container:last-child {
    /*margin-right: 0; /* Supprimez la marge à droite du dernier conteneur pour éviter un espacement excessif */
}

/* Ajoutez ces styles pour le cas où les formulaires seraient empilés verticalement sur des écrans plus petits */
@media screen and (max-width: 768px) {
    .form-container {
        width: 100%; /* Assurez-vous que les formulaires occupent la largeur complète sur des écrans plus petits */
        float: none; /* Assurez-vous que les formulaires ne sont pas flottants sur des écrans plus petits */
        margin-right: 0; /* Supprimez la marge pour empêcher le débordement */
    }
}

/* Ajoutez ces styles pour utiliser Flexbox */
#form {
    display: flex;
    justify-content: space-between;
}
