.header {
    position: relative;
    width: 100%;
  }

  header {
    position: relative;
    z-index: 1;
    height: 100%;
  }

header {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
  }
  
  header .burger-menu {
    float: left;
    padding: 20px 16px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  header .burger-menu > div {
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 16px;
    margin: 2px;
  }
  
  header .header__title {
    margin: 20px 0 20px 32px;
  }
  
  /* Collapse */
  .collapse {
      width: 260px;
      position: fixed;
      background: #000000;
      left: 0;
      top: 0;
      z-index: 1;
      transform: translateX(-260px);
      transition: transform 0.3s ease;
      height: 100vh;
  }
  
  .collapse a {
      padding: 16px;
      display: inline-block;
      width: 100%;
      color: #FFF;
      text-decoration: none;
      background: #000000;
      box-sizing: border-box;
  }
  
  .collapse a:hover {
    color: #CCC;
  }
  
  .collapse.active {
    
    margin-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    transform: translateX(0);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }


  .account-panier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    flex-basis: 3%;

  }

  .account-panier > a{
    color: white;
  } 

  .lien-fleche{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: thin solid rgba(122, 122, 122, 0.479);
  }

  .lien-fleche:first-child{
    border-top: thin solid rgba(122, 122, 122, 0.479);
  }