body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: black;
  color: white;
}

a{
  text-decoration: none;

}

.ombre {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.header-video {
  position: relative;
  width: 100%;
  height: 80vh;
}

.header-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80vh; /* Hauteur de l'ombre à ajuster selon vos besoins */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none; /* Permet aux événements de passer à travers l'ombre */
  z-index: 2; /* Au-dessus des autres éléments */
}



header {
  position: relative;
  z-index: 1;
}

.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 2% 0 2%;
  box-sizing: border-box;
}

.header .burger-menu {
  float: left;
  padding: 20px 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.header .burger-menu > div {
  background: white;
  height: 2px;
  width: 16px;
  margin: 2px;
}

.header .header__title {
  margin: 20px 0 20px 32px;
}

.main {
  padding: 0 20px;
  max-width: 648px;
  margin: auto;
}

/* Collapse */
.collapse {
  width: 260px;
  position: fixed;
  background: #e7dcdc00;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translateX(-260px);
  transition: transform 0.3s ease;
  height: 100vh;
}

.collapse a {
  padding: 16px;
      display: inline-block;
      width: 100%;
      color: #e4e4e4;
      text-decoration: none;
      background: #ffffff00;
      box-sizing: border-box;
}

.collapse a:hover {
  color: #ffffff;
}

.collapse.active {
  margin-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  transform: translateX(0);
}

.account-panier{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  flex-basis: 3%;
}

.account-panier > a{
  color: white;
} 

.lien-fleche{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: thin solid rgba(255, 255, 255, 0.479);
}


.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  }

  .inscription{
    color: rgba(255, 255, 255, 0.651);
  }
  
  .div1 { 
    grid-area: 2 / 3 / 3 / 11;
    display: flex;  
    justify-content: space-around;
    align-items: center;
  
  }
  .div2 { grid-area: 3 / 3 / 5 / 7; }
  .div3 { grid-area: 3 / 7 / 5 / 11; }
  .div4 { grid-area: 5 / 3 / 7 / 7; }
  .div5 { grid-area: 5 / 7 / 7 / 11; }

  .liste-artiste{
    padding: 5% 0%;
  }

  .date-festival{
    margin-bottom: 5%;
  }

  .span-arrow{
    cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(135deg,#554cc7 0,#aa397e 100%);
  padding: 2% 3%;
  }

  .span-arrow:after {
    content: ' »';
    opacity: 1  ;
    transition: 0.5s;
  }

  .span-arrow::before {
    content: '» ';
    opacity: 0  ;
    transition: 0.5s;
  }

.span-arrow:hover:after {
    opacity: 0;
  }

  .span-arrow:hover::before {
    opacity: 1;
  }


  
.parent > *{
border: 1px solid rgba(255, 255, 255, 0.26);
}

main {
  z-index: 2;
}

.liste-concert{
  padding: 2% 3%;
}

.link {
  background: linear-gradient(135deg, #554cc7 0, #aa397e 100%);
  padding: 2%;
}

.link > a {
  color: white;
  text-decoration: none;
}

.link:hover {
  background-color: rgb(63, 63, 63);
}

.description-festival{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5% 15%;
}

.description{
  flex-basis: 35%;
  min-height: 25rem;
  position : relative;
  margin: 2%;
  overflow: hidden; 
}

.description:hover{
  cursor: pointer;
  background-color: #0000007c;
}

.description::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 100%);

  z-index: 0;
} 

.description img{
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  position: absolute;
}

.contenu{
  z-index: 1;
  color: rgb(255, 255, 255);   
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.view-more{
  cursor: pointer;
transition: 0.5s;
background: rgb(255, 255, 255);
padding: 2% 3%;
color : rgb(0, 0, 0);
}

.view-more:after {
  content: ' >';
  opacity: 1  ;
  transition: 0.5s;
}

.view-more::before {
  content: '> ';
  opacity: 0  ;
  transition: 0.5s;
}

.view-more:hover:after {
  opacity: 0;
}

.view-more:hover::before {
  opacity: 1;
}


footer > div{
  margin: 0% 10%;
  text-align: center;
}

.top-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  padding-top: 2%;
}

.top-footer > img{
  width: 25%;
}

.social-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20%;
}

.social-link > a{
  color: white;
}

.bottom-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}