body{
    background-color: #1b1b1b ;
    color: rgb(255, 255, 255);
}

.liste-artiste{
    margin: 0% 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titre-page{
    text-align: center;
}

.artiste{
    width: 25%;
    height: 20rem;
    position : relative;
    margin: 2%;
    overflow: hidden;
    border-radius: 10px;    
}

.artiste::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(147deg, rgba(255,255,255,0) 30%, rgba(0,0,0,1) 100%);

    z-index: 0;
    border-radius: 10px;
  } 

.artiste img{
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
}

.contenu{
    z-index: 1;
    color: rgb(255, 255, 255);   
    text-align: end;
    position: absolute;
    right: 1rem;
    bottom: 0;
}


.test-arrow{
    cursor: pointer;
  transition: 0.5s; 
}

.test-arrow:after {
    content: ' »';
    opacity: 0;
    transition: 0.5s;
  }

.test-arrow:hover{
    padding-right: 15px;
    padding-left:8px;
}

.test-arrow:hover:after {
    opacity: 1;
    right: 10px;
  }
 .contenu >  a{
        text-decoration: none;
        color: rgb(255, 255, 255);
  }