

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ url_for('static', filename = 'police.css') }}" />
      <title>Artistes - Festival Fest'IUT</title>
      <script src="{{ url_for('static', filename = 'JS/script.js') }}"></script>
      <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
    {% endblock %}

  </head>

  <body>
    {% include 'header.html' %}

    <main>
      <div class="liste-artiste">
        {% for user in data %}
            <div class="user">
                <h3 class="test-arrow"><span>mail : {{ user[4] }} mdp : {{ user[5] }}</span></h3>
                <p>id : {{ user[0] }}</p>
                <a href="/admin/suppr_user/{{ user[0] }}"><h3>Supprimer l'artiste</h3>  </a>
              </div>
        {% endfor %}
      </div>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
