<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ url_for('static', filename = 'programme_concert.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename = 'police.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='formulaire.css') }}" />
      <title>Concerts - Festival Fest'IUT</title>
      <script src="{{ url_for('static', filename = 'JS/script.js') }}"></script>
      <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
    {% endblock %}
    
    <!-- Ajoutez ce script pour mettre à jour l'aperçu de l'image lorsqu'un fichier est sélectionné -->
    <script>
      function previewImage(input) {
          var preview = document.getElementById('preview-image');
          var file = input.files[0];
          var reader = new FileReader();

          reader.onloadend = function () {
              preview.src = reader.result;
              preview.style.display = 'block';
          };

          if (file) {
              reader.readAsDataURL(file);
          } else {
              preview.src = '';
              preview.style.display = 'none';
          }
      }
    </script>
  </head>

  <body>
    {% include 'header.html' %}

    <main>
      <section id="form">
        <h2 class="titre-page">Administration des concerts</h2>
        <div class="form-container">
          <h2 class="titre-page">Ajouter un concert : </h2>
          <!-- Formulaire pour ajouter un concert -->
          <form method="post" action="/admin/ajout-concert" enctype="multipart/form-data" class="concert-form">
            <!-- Champs pour la table CONCERTS -->
            <label for="nomConcert">Nom du concert :</label>
            <input type="text" id="nomConcert" name="nomConcert" required />

            <label for="date_heure_debut">Date et heure de début :</label>
            <input type="datetime-local" id="date_heure_debut" name="date_heure_debut" required />

            <label for="date_heure_fin">Date et heure de fin :</label>
            <input type="datetime-local" id="date_heure_fin" name="date_heure_fin" required />

            <label for="duree_montage">Durée de montage (en minutes) :</label>
            <input type="number" id="duree_montage" name="duree_montage" required />

            <label for="duree_demontage">Durée de démontage (en minutes) :</label>
            <input type="number" id="duree_demontage" name="duree_demontage" required />

            <label for="preinscription_requise">Préinscription requise :</label>
            <input type="checkbox" id="preinscription_requise" name="preinscription_requise" />

            <label for="gratuit">Gratuit :</label>
            <input type="checkbox" id="gratuit" name="gratuit" />

            <label for="places_disponibles">Places disponibles :</label>
            <input type="number" id="places_disponibles" name="places_disponibles" />

            <label for="lieu_id">Lieu :</label>
            <select id="lieu_id" name="lieu_id" required>
              <!-- Remplacez ces options par les lieux réels récupérés de la base de données -->
              <option value="1">Lieu 1</option>
              <option value="2">Lieu 2</option>
              <option value="3">Lieu 3</option>
            </select>

            <button type="submit">Ajouter le concert</button>
          </form>
        </div>
      </section>

      <div class="liste-concert">
        {% for concert in data %}
          <div class="concert">
            <div class="contenu">
              <a href="/admin/suppr-concert/{{ concert[0] }}"><h3>Supprimer le concert</h3></a>
              <a href="/programme/detail-concert/{{ concert[0] }}"><h3 class="test-arrow"><span>id du concert :{{ concert[0] }}</span></h3></a>
              <p>{{ concert[2] }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
