

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ url_for('static', filename = 'programme_artiste.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename = 'police.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='formulaire.css') }}" />
      <title>Artistes - Festival Fest'IUT</title>
      <script src="{{ url_for('static', filename = 'JS/script.js') }}"></script>
      <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
    {% endblock %}
    
    <!-- Ajoutez ce script pour mettre à jour l'aperçu de l'image lorsqu'un fichier est sélectionné -->
    <script>
      function previewImage(input) {
          var preview = document.getElementById('preview-image');
          var file = input.files[0];
          var reader = new FileReader();

          reader.onloadend = function () {
              preview.src = reader.result;
              preview.style.display = 'block';
          };

          if (file) {
              reader.readAsDataURL(file);
          } else {
              preview.src = '';
              preview.style.display = 'none';
          }
      }
  </script>
  </head>

  <body>
    {% include 'header.html' %}

    <main>
      <section id="form">
      <h2 class="titre-page">Administration des artistes</h2>
      <div class="form-container">
      <h2 class="titre-page">Ajouter un artiste : </h2>
      <!-- Formulaire pour ajouter un artiste -->
      <form method="post" action="/admin/ajout-artiste" enctype="multipart/form-data" class="artist-form">
        <!-- Champs pour la table ARTISTES -->
        <label for="nomArtiste">Nom de l'artiste :</label>
        <input type="text" id="nomArtiste" name="nomArtiste" required />
    
        <label for="desc_artiste">Description de l'artiste :</label>
        <textarea id="desc_artiste" name="desc_artiste" required></textarea>
    
        <label for="categorie">Catégorie :</label>
        <input type="text" id="categorie" name="categorie" required />
    
        <label for="style_musical_id">Style musical :</label>
        <select id="style_musical_id" name="style_musical_id" required>
          <!-- Remplacez ces options par les styles musicaux réels récupérés de la base de données -->
          <option value="1">Pop Rock</option>
          <option value="2">Rock Alternatif</option>
          <option value="3">Pop</option>
          <option value="4">Soul</option>
          <option value="5">Funk Rock</option>
          <option value="6">Punk Hardcore</option>
      </select>

    
        <label for="date_heure_arrivee">Date et heure d'arrivée :</label>
        <input type="datetime-local" id="date_heure_arrivee" name="date_heure_arrivee" required />
    
        <label for="date_heure_depart">Date et heure de départ :</label>
        <input type="datetime-local" id="date_heure_depart" name="date_heure_depart" required />
    
        <label for="instrument_joue">Instrument joué :</label>
        <input type="text" id="instrument_joue" name="instrument_joue" required />
    
        <label for="image">Image :</label>
        <input type="file" id="image" name="image" accept="image/*" required onchange="previewImage(this)" />
    
        <!-- Balise img pour prévisualiser l'image sélectionnée -->
        <img id="preview-image" src="#" alt="Image preview" style="max-width: 100%; max-height: 200px; display: none;" />
    
        <button type="submit">Ajouter l'artiste</button>
    </form>
  </div>
    <div class="form-container">
        <h2>Ajouter Groupe</h2>
        <form method="post" action="/admin/ajout-groupe" enctype="multipart/form-data" class="group-form">
            <!-- Champs pour la table GROUPES -->
            <label for="nomGroupe">Nom du groupe :</label>
            <input type="text" id="nomGroupe" name="nomGroupe" required />

            <label for="desc_groupe">Description du groupe :</label>
            <textarea id="desc_groupe" name="desc_groupe"></textarea>

            <label for="style_musical_id">Style musical :</label>
            <select id="style_musical_id" name="style_musical_id" required>
                <!-- Remplacez ces options par les styles musicaux réels récupérés de la base de données -->
                <option value="1">Pop Rock</option>
                <option value="2">Rock Alternatif</option>
                <option value="3">Pop</option>
                <option value="4">Soul</option>
                <option value="5">Funk Rock</option>
                <option value="6">Punk Hardcore</option>
            </select>

            <label for="date_heure_arrivee">Date et heure d'arrivée :</label>
            <input type="datetime-local" id="date_heure_arrivee" name="date_heure_arrivee" required />

            <label for="date_heure_depart">Date et heure de départ :</label>
            <input type="datetime-local" id="date_heure_depart" name="date_heure_depart" required />

            <label for="lien_reseau">Lien réseau :</label>
            <input type="text" id="lien_reseau" name="lien_reseau" />

            <button type="submit">Ajouter le groupe</button>
        </form>
      </div>
    </section>
    
    

      <div class="liste-artiste">
        {% for artiste in data %}
            <div class="artiste">
              <img src="{{ url_for('get_image', artiste_id=artiste[0]) }}" alt="artiste1" />
              <div class="contenu">
                <a href="/admin/suppr_artiste/{{ artiste[0] }}"><h3>Supprimer l'artiste</h3>  </a>
                <a href="/programme/detail-artiste/{{ artiste[0] }}"><h3 class="test-arrow"><span>{{ artiste[1] }}</span></h3></a>
                <p>{{ artiste[3] }}</p>
              </div>
            </div>
        {% endfor %}
      </div>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
