<!-- concert.html -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='programme_artiste.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='police.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='formulaire.css') }}" />
    <title>Ajouter/Modifier un concert - Festival Fest'IUT</title>
</head>

<body>
    <!-- Ajoutez cette balise img pour prévisualiser l'image sélectionnée -->
    <img id="preview-image" src="#" alt="Image preview" style="max-width: 100%; max-height: 200px; display: none;" />

    <!-- Ajoutez ce script pour mettre à jour l'aperçu de l'image lorsqu'un fichier est sélectionné -->
    <script>
        function previewImage(input) {
            var preview = document.getElementById('preview-image');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = '';
                preview.style.display = 'none';
            }
        }
    </script>

    <main>
        <h2 class="titre-page">Ajouter/Modifier un concert : </h2>
        <!-- Formulaire pour ajouter ou modifier un concert -->
        <form method="post" action="/admin/ajout-concert" enctype="multipart/form-data" class="concert-form">
            <!-- Ajoutez les champs nécessaires pour l'ajout ou la modification d'un concert -->
            <!-- Exemple : -->
            <label for="titreConcert">Titre du concert :</label>
            <input type="text" id="titreConcert" name="titreConcert" required />

            <label for="date">Date du concert :</label>
            <input type="date" id="date" name="date" required />

            <label for="image">Image :</label>
            <input type="file" id="image" name="image" accept="image/*" required />

            <label for="description">Description :</label>
            <textarea id="description" name="description" required></textarea>

            <button type="submit">Ajouter/Modifier le concert</button>
        </form>
    </main>
</body>

</html>
