<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='programme_artiste.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='police.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='formulaire.css') }}" /> <!-- Nouveau fichier CSS pour le formulaire -->
    <title>Ajouter un artiste - Festival Fest'IUT</title>
    <!-- Ajoutez ce script pour mettre à jour l'aperçu de l'image lorsqu'un fichier est sélectionné -->
    <script>
        function previewImage(input) {
            var preview = document.getElementById('preview-image');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = '';
                preview.style.display = 'none';
            }
        }
    </script>
</head>

<body>
    <!-- ... -->
    <main>
        <h2 class="titre-page">Ajouter un artiste : </h2>
        <!-- Formulaire pour ajouter un artiste -->
        <form method="post" action="/admin/ajout-artiste" enctype="multipart/form-data" class="artist-form">
            <!-- Ajoutez les champs nécessaires pour l'ajout d'un artiste -->
            <!-- Exemple : -->
            <label for="nomArtiste">Nom de l'artiste :</label>
            <input type="text" id="nomArtiste" name="nomArtiste" required />

            <label for="categorie">Catégorie :</label>
            <input type="text" id="categorie" name="categorie" required />

            <label for="image">Image :</label>
            <input type="file" id="image" name="image" accept="image/*" required onchange="previewImage(this)" />

            <!-- Ajoutez cette balise img pour prévisualiser l'image sélectionnée -->
            <img id="preview-image" src="#" alt="Image preview" style="max-width: 100%; max-height: 200px; display: none;"/>

            <label for="description">Description :</label>
            <textarea id="description" name="description" required></textarea>

            <button type="submit">Ajouter l'artiste</button>
        </form>
    </main>

    <!-- ... -->
</body>

</html>
