<!DOCTYPE html>
<html lang="fr">
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'billeterie.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'police.css') }}" />
    <title>Billeterie - Festival Fest'IUT</title>
    <script src="{{ url_for('static', filename = 'JS/script.js') }}"></script>
    <script src="{{ url_for('static', filename = 'JS/appear-div.js') }}"></script>
    <script src="{{ url_for('static', filename = 'JS/input-number.js') }}"></script>
    <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
  {% endblock %}


  <body>
    {% include 'header.html' %}

    <main>
        <h1>Listes des billets vendus sur notre site</h1>
        <div class="billet-concert">
            <div class="billet">
                <img class="billet__image" src="../static/IMG/festival-personne.jpg" alt="Billet 1 jour">
                <div class="billet__info">
                    <h2 class="billet__info__titre">BILLET 1 JOUR</h2>
                    <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                    <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                    <p class="billet__info__prix">A partir de 50€</p>
                </div>  
                <div class="btn__montrer1">
                    <button class="btn__montrer__div btn__montrer__div1" onclick="toggleVisibility('billet-concert-date1', 'chevronIcon1')">
                        <i class="fa-solid fa-chevron-down" id="chevronIcon1"></i>
                    </button>
                </div>        
            </div>
            <div class="billet-concert-date billet-concert-date1">
                <div class="billet-date">
                    <div class="billet__info">
                        <h2 class="billet__info__titre">Billet pour le vendredi 10 Aout</h2>
                        <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                        <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                        <div class="prix-quantite">
                            <p class="billet__info__prix">A partir de 50€</p>
                            <div class="root" id="root1"></div>
                            
                        </div>
                    </div>        
                </div>
            </div>








            <div class="billet">
                <img class="billet__image" src="../static/IMG/festival-personne.jpg" alt="Billet 1 jour">
                <div class="billet__info">
                    <h2 class="billet__info__titre">BILLET 2 JOURS</h2>
                    <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                    <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                    <p class="billet__info__prix">A partir de 85€</p>
                </div>  
                <div class="btn__montrer2">
                    <button class="btn__montrer__div btn__montrer__div2" onclick="toggleVisibility('billet-concert-date2', 'chevronIcon2')">
                        <i class="fa-solid fa-chevron-down" id="chevronIcon2"></i>
                    </button>
                </div>         
            </div>
            <div class="billet-concert-date billet-concert-date2">
                <div class="billet-date">
                    <div class="billet__info">
                        <h2 class="billet__info__titre">Billet pour le vendredi 10 Aout</h2>
                        <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                        <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                        <div class="prix-quantite">
                            <p class="billet__info__prix">A partir de 85€</p>
                            <div  class="root" id="root2"></div>
                            
                        </div>
                    </div>        
                </div>
            </div>









            <div class="billet">
                <img class="billet__image" src="../static/IMG/festival-personne.jpg" alt="Billet 1 jour">
                <div class="billet__info">
                    <h2 class="billet__info__titre">BILLET 1 JOUR VIP</h2>
                    <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                    <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                    <p class="billet__info__prix">A partir de 125€</p>
                </div>  
                <div class="btn__montrer3">
                    <button class="btn__montrer__div btn__montrer__div2" onclick="toggleVisibility('billet-concert-date3', 'chevronIcon3')">
                        <i class="fa-solid fa-chevron-down" id="chevronIcon3"></i>
                    </button>
                </div>         
            </div>
            <div class="billet-concert-date billet-concert-date3">
                <div class="billet-date">
                    <div class="billet__info">
                        <h2 class="billet__info__titre">Billet pour le vendredi 10 Aout</h2>
                        <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                        <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                        <div class="prix-quantite">
                            <p class="billet__info__prix">A partir de 125€</p>
                            <div  class="root" id="root3"></div>
                            
                        </div>
                    </div>        
                </div>
            </div>








            <div class="billet">
                <img class="billet__image" src="../static/IMG/festival-personne.jpg" alt="Billet 1 jour">
                <div class="billet__info">
                    <h2 class="billet__info__titre">BILLET 2 JOURS VIP</h2>
                    <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                    <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                    <p class="billet__info__prix">A partir de 200€</p>
                </div>  
                <div class="btn__montrer2">
                    <button class="btn__montrer__div btn__montrer__div2" onclick="toggleVisibility('billet-concert-date4', 'chevronIcon4')">
                        <i class="fa-solid fa-chevron-down" id="chevronIcon4"></i>
                    </button>
                </div>         
            </div>
            <div class="billet-concert-date billet-concert-date4">
                <div class="billet-date">
                    <div class="billet__info">
                        <h2 class="billet__info__titre">Billet pour le vendredi 10 Aout</h2>
                        <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                        <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                        <div class="prix-quantite">
                            <p class="billet__info__prix">A partir de 200€</p>
                            <div  class="root" id="root4"></div>
                            
                        </div>
                    </div>        
                </div>
            </div>


            <div class="billet">
                <img class="billet__image" src="../static/IMG/festival-personne.jpg" alt="Billet 1 jour">
                <div class="billet__info">
                    <h2 class="billet__info__titre">BILLET BENEVOLE</h2>
                    <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                    <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                    <p class="billet__info__prix">A partir de 0€</p>
                </div>  
                <div class="btn__montrer5">
                    <button class="btn__montrer__div btn__montrer__div5" onclick="toggleVisibility('billet-concert-date5', 'chevronIcon5')">
                        <i class="fa-solid fa-chevron-down" id="chevronIcon5"></i>
                    </button>
                </div>         
            </div>
            <div class="billet-concert-date billet-concert-date5">
                <div class="billet-date">
                    <div class="billet__info">
                        <h2 class="billet__info__titre">Billet pour le vendredi 10 Aout</h2>
                        <p class="description__billet">Billet permettant de visiter le festival pendant une journée</p>
                        <p class="annexe">Ce billet n'est pas remboursable, tout achat est définitif*</p>
                        <div class="prix-quantite">
                            <p class="billet__info__prix">A partir de 0€</p>
                            <div  class="root" id="root5"></div>
                            
                        </div>
                    </div>        
                </div>
            </div>

            
        </div>
        <!-- <button id="getValuesBtn" onclick="getValues()">Ajouter au Panier</button> -->
        <a onclick="getValues()" href="/panier/{{user[0]}}" id="getValuesBtn" >Ajouter au Panier</a>

                            <script>
                                function getValues() {
                                    const inputValues = [];
                                    inputNumbers.forEach(inputNumber => {
                                        inputValues.push({ 'value': inputNumber.value });
                                    });
                        
                                    fetch('/get_values', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify(inputValues),
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        console.log('Received values:', data.values);
                                        // Handle the received values as needed
                                    })
                                    .catch(error => console.error('Error:', error));
                                }
                            </script>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
