<!DOCTYPE html>
<html lang="fr">
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'detail-artiste.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'police.css') }}" />
    <title>FESTIUT</title>
    <script src="{{ url_for('static', filename = 'JS/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
  {% endblock %}
  <body>
    {% include 'header.html' %}
    {% block content %}
    <div class="contenu-detail-artiste">
      <div class="image-artiste">
        <!-- <img src="{{ url_for('get_image', artiste_id=artiste[0]) }}" alt="image-artiste" /> -->
      </div>
      <div class="texte-artiste">
        <h1>{{ artiste[1] }}</h1>
        <p class="description-artiste">{{ artiste[2] }}</p>
        <span class="adbisor-box-note-data">
          <span class="advisor-box-note-stars">
              <span class="advisor-box-star"></span>
              <span class="advisor-box-star"></span>
              <span class="advisor-box-star"></span>
              <span class="advisor-box-star"></span>
              <span class="advisor-box-star half-star"></span>
              <!-- <span class="advisor-box-star empty-star"></span> -->
          </span>
      </div>
    </div>
    {% endblock %}
    {% include 'footer.html' %}