<link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}" />
<footer class="footer">
    <div>
      <div class="top-footer">
        <div class="top-suite">
          <h2>A propos de nous</h2>
          <p>
            We will help programmers build up concepts in different programming languages that include C, C++, Java,
            HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm
          </p>
        </div>
        <div class="top-suite">
          <h2>A propos de nous</h2>
          <p>
            We will help programmers build up concepts in different programming languages that include C, C++, Java,
            HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm
          </p>
        </div>
        <div class="top-suite">
          <h2>A propos de nous</h2>
          <p>
            We will help programmers build up concepts in different programming languages that include C, C++, Java,
            HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm
          </p>
        </div>
      </div>
      <div class="bottom-footer">
        <p>Copyright © 2024 All Rights Reserved by IUT Orleans</p>
        <div class="social-link">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>