<link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}" />

<div class="header">
    <header>
      <div class="burger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h1 class="header__title">FESTIUT'O</h1>

      <nav class="collapse">
        <div class="lien-fleche">
          <a href="/">Acceuil</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="lien-fleche">
          <a href="/programme/">Programme des artistes</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="lien-fleche">
          <a href="/billeterie/">Billeterie</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        {% if adm == false %}
          <div class="lien-fleche">
            <a href="/admin/programme"> Administrer les artistes</a>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
          <div class="lien-fleche">
            <a href="/admin/concert">Administration des concerts</a>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
          <div class="lien-fleche">
            <a href="/admin/user">Administration des users</a>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        {% endif %}
      </nav>
      <div class="account-panier">
        {% if user is none %}
        <a href="/login/"><i class="fa-regular fa-user"></i></a>
        {% else %}
        <a href="/user/"><i class="fa-regular fa-user"></i></a>
        <a href="/deconnexion/">Déconnexion</a>
        {% endif %}
        <a href="/panier/{{ user[0] }}"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </header>
  </div>