<!DOCTYPE html>
<html lang="fr">

{% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='police.css') }}" />
  <title>Bienvenue - Fest'IUT</title>
  <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
  <script src="{{ url_for('static', filename='JS/marquee.js') }}"></script>
  <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
  {% endblock %}

<body>
  <div class="header-video">
    <video loop muted autoplay>
      <source src="../static/VIDEO/encoreTest.mp4" type="video/mp4" />
    </video>
    <header class="header">
      <div class="burger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h1 class="header__title">FESTIUT'O</h1>

      <nav class="collapse">
        <div class="lien-fleche">
          <a href="/">Acceuil</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="lien-fleche">
          <a href="/programme/">Programme des artistes</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="lien-fleche">
          <a href="/billeterie/">Billeterie</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        {% if adm == false %}
          <div class="lien-fleche">
            <a href="/admin/programme"> Administrer les artistes</a>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
          <div class="lien-fleche">
            <a href="/admin/concert">Administration des concerts</a>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
          <div class="lien-fleche">
            <a href="/admin/user">Administration des users</a>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        {% endif %}
      </nav>
      <div class="account-panier">
        {% if user is none %}
        <a href="/login/"><i class="fa-regular fa-user"></i></a>
        {% else %}
        <a href="/user/"><i class="fa-regular fa-user"></i></a>
        <a href="/deconnexion/">Déconnexion</a>
        {% endif %}
      
        <a href="/panier/{{ user[0] }}"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </header>
  </div>
  <main>
    <div class="parent">
      <div class="div1">
        <h4 class="inscription">Inscription</h4>
        <div>
          <p> <strong> Vivez l'extraordinaire au FESTIUT! Inscrivez-vous pour une expérience inoubliable ! </strong></p>
        </div>
      </div>
      {%for concert in data%}
      <div class="div{{loop.index + 1}} liste-artiste">
        {%if loop.index == 1%}
        <p> {{concert.titreConcert}} </p>
        <p class="date-festival">{{ concert.date }}</p>
        <span class="span-arrow">Acheter maintenant</span>
        {%else%}
        <p> {{concert.titreConcert}} </p>
        <p>{{ concert.date }}</p>
        {% endif %}
      </div>
      {%endfor%}
    </div>
    
    <div class="description-festival">
      <div class="description">
        <img src="../static/IMG/Festival-image.webp" alt="image festival" />
        <div class="contenu">
          <h2>FESTIUT</h2>
          <p>Entrer dans une histoire fascinante qui va être écrite pendant 2024</p>
          <a href="#"><h3 class="view-more"><span>TICKETS</span></h3></a>
        </div>
      </div>
      <div class="description">
        <div class="contenu">
          <h2>Qui sommes-nous ?</h2>
          <p>Equipe de 5 développeurs, avons eu comme tâche de réaliser un site qui permet d'organiser un festival.</p>
          <a href="#"><h3 class="view-more"><span>TICKETS</span></h3></a>
        </div>
      </div>
      <div class="description">
        <div class="contenu">
          <h2>Nous pensons ...</h2>
          <p>que découvrir une approche moderne de la gestion d'événements festifs sur notre site est importante. Laissez-nous simplifier l'organisation pour que vous puissiez pleinement profiter de chaque festival</p>
          <a href="#"><h3 class="view-more"><span>TICKETS</span></h3></a>
        </div>
      </div>
      <div class="description">
        <img src="../static/IMG/festival-personne.jpg" alt="image festival" />
        <div class="contenu">
          <h2>Pourquoi notre festival ?</h2>
          <p>Choissisez notre festival pour écouter vos artistes favoris pour garder de merveilleux souvenirs tel que Adèle, Yeat, Muse et bien d'autres. Nous vous attendons !</p>
          <a href="#"><h3 class="view-more"><span>TICKETS</span></h3></a>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div>
      <div class="top-footer">
        <img src="../static/IMG/logo.png" alt="">
      </div>
      
      <div class="social-link">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>

      </div>
      <div class="bottom-footer">
        <p>Copyright © 2024 All Rights Reserved by IUT Orleans</p>
      </div>
    </div>
  </footer>
</body>

</html>