<!DOCTYPE html>
<html lang="fr">
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'panier.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'police.css') }}" />
    <title>Artistes - Festival Fest'IUT</title>
    <script src="{{ url_for('static', filename = 'JS/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
  {% endblock %}

  <body>
    {% include 'header.html' %}

    <main>
        <h2 class="titre-page">Découvrez tout les artistes présents dans notre magnifique festival !</h2>
        <div class="liste-artiste" id="panier-container">
            {% set total = 0 %}
            {% for billet in panier %}
                {% set billet_info = getBilletId(billet[1]) %}
                {% if billet_info %}
                    <p>Billet : {{ billet_info[1] }} * {{ billet[-1] }}</p>
                    <p>Prix : {{ billet_info[2] * billet[-1] }} </p>
                    {% set total = total + (billet_info[2] * billet[-1]) %}
                {% endif %}
            {% endfor %}
            <p>Total : {{ total }} </p>
            
            
        </div>
    </main>
    

    {% include 'footer.html' %}
  </body>
</html>
