<!DOCTYPE html>
<html lang="fr">
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'programme_artiste.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'police.css') }}" />
    <title>Artistes - Festival Fest'IUT</title>
    <script src="{{ url_for('static', filename = 'JS/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
  {% endblock %}

  <body>
    {% include 'header.html' %}

    <main>
      <h2 class="titre-page">Découvrez tout les artistes présents dans notre magnifique festival !</h2>
      <div class="liste-artiste">
        {% for artiste in data %}
            <div class="artiste">
              <img src="{{ url_for('get_image', artiste_id=artiste[0]) }}" alt="artiste1" />
              <div class="contenu">
                <a href="/programme/detail-artiste/{{ artiste[0] }}"><h3 class="test-arrow"><span>{{ artiste[1] }}</span></h3></a>
                <p>{{ artiste[3] }}</p>
              </div>
            </div>
        {% endfor %}
      </div>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
