<!DOCTYPE html>
<html lang="fr">
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'police.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'user.css') }}" />
    <title>FESTIUT</title>
    <script src="{{ url_for('static', filename = 'JS/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
  {% endblock %}
  <body>
    {% include 'header.html' %}
    {% block content %}
    <p> {{ user[3] }} </p>
    <p>{{user[2]}}</p>
    {% endblock %}
    {% include 'footer.html' %}